@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: lightgray ;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 85%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */



.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 50%;
    }
}



.sectionb { background: #d0d0d0;    width: 100%;}


.facontainer {
  width: auto;
  text-align: center;
  padding: 20px;
  position: relative;
}



 .facontainer a {color: #000;
  -webkit-transition: all 0.2s ease; /* Safari compatibility */
	transition: all 0.2s ease; /* not recognised in IE9 and below */}
.facontainer a:hover {color: #87d0b0;
  	-webkit-transition: all 0.2s ease; /* Safari compatibility */
	transition: all 0.2s ease; /* not recognised in IE9 and below */}

.facontainer h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 26px;
    line-height: 60px;
    font-size: 56px;
    margin-bottom: 20px;
    letter-spacing: -2px;
    color: #000;
   font-family: "Roboto",sans-serif;
}

.facontainer p {
    color: #000;
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 20px auto;
    line-height: 24px;
   font: 14px/24px "Roboto",sans-serif;
}

.facontainer i {
    background: #45906F;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    padding: 15px;
}

.facontainer li {
  color: #000;
  display: inline-block;
  font-size: 60px;
}

.facontainer li:hover {
  color: #006237;
}

/* login page css */

.modal-content{
    background-color: darkturquoise;
}
.btn-link{
    color:white;
}
.modal-heading h2{
    color:#ffffff;
}
.open-button{
    background-color: #222;
    color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-size: 12px;
}
.open-button:hover {background-color: #4CAF50;}

.mx-ht-70 {
    max-height: 40px !important;
    vertical-align: middle;
    /* margin-top: 5px; */
}

.navbar-brand{
    vertical-align: top;
    padding: 9px;
    text-align: middle;
    line-height: 10px;
}

.navbar-nav {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    line-height: 10px;
    text-align: middle;
}
.navbar-brand>img {
    display: inline-block;
}

/* // Display a cross with CSS only.
 //
 // $size  : px or em
 // $color : color
 // $thickness : px */
 .btn-close {
    margin-top: -40px;
    margin-left: -40px;
    border: 0;
    padding: 0;
    background: #06f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
  }
  .btn-close .icon-cross {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    width: 20px;
    height: 20px;
  }
  .btn-close .icon-cross:before, .btn-close .icon-cross:after {
    content: '';
    position: absolute;
    top: 8.5px;
    left: 0;
    right: 0;
    height: 4px;
    background: #fff;
    border-radius: 6px;
  }
  .btn-close .icon-cross:before {
    transform: rotate(45deg);
  }
  .btn-close .icon-cross:after {
    transform: rotate(-45deg);
  }
  .btn-close .icon-cross span {
    display: block;
  }
  .btn-close:hover, .btn-close:focus {
    transform: rotateZ(90deg);
    background: #cc4100;
  }
  /* body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    height: 100vh;
  } */
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  